<li class="grid gap-2">
  <a class="group grid gap-2" href="{{ product.url | within: collection }}">
    <figure class="relative">
      <div class="bg-white overflow-hidden rounded-2xl">
        {%- if product.featured_image -%}
          {{ product.featured_image
            | image_url: width: 500, height: 500
            | image_tag: class: 'w-full group-hover:scale-110 transition-transform duration-500 ease-out bg-[#f9f6fe]', loading: 'lazy'
          }}
        {%- else -%}
          {{ 'product-1' | placeholder_svg_tag }}
        {%- endif -%}
        {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
          <span class="absolute top-2 right-2 bg-red-500 text-white text-xs font-bold px-2 py-1 rounded-[9px]">
            50% OFF
          </span>
        {%- endif -%}
         {{ shop.name | link_to: routes.root_url, class: 'decorname text-xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 }}
        <span class="absolute top-2 left-2 bg-black text-white text-xs font-bold px-2 py-1 rounded-[9px]">
          ONLY {{ product.selected_or_first_available_variant.inventory_quantity | default: 0 }} LEFT
        </span>
      </div>
    </figure>

    <div class="text-sm sm:text-lg font-semibold text-gray-800 mt-3">{{ product.title | default: 'Product title' }}</div>
  </a>

  <div class="text-sm sm:text-sm text-gray-600">
    <span>
      <strong class="text-sm font-bold text-gray-900">{{ product.price_min | default: 0 | money }}</strong>
    </span>
    {% if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price %}
      <span class="ml-2 text-gray-400 line-through">
        {{ product.selected_or_first_available_variant.compare_at_price | money }}
      </span>
    {% endif %}
  </div>
</li>