{%- if product.has_only_default_variant -%}
  <input name="id" value="{{ product.selected_or_first_available_variant.id }}" hidden>
{%- else -%}
  <select name="id" hidden>
    {%- for variant in product.variants -%}
      <option
        value="{{ variant.id }}"
        {% if variant == product.selected_or_first_available_variant %}selected{% endif %}
        {% if variant.option1 %}data-option1="{{ variant.option1 }}"{% endif %}
        {% if variant.option2 %}data-option2="{{ variant.option2 }}"{% endif %}
        {% if variant.option3 %}data-option3="{{ variant.option3 }}"{% endif %}
        {% if variant.inventory_quantity %}data-inventory="{{ variant.inventory_quantity }}"{% endif %}
      >
        {{ variant | json }}
      </option>
    {%- endfor -%}
  </select>

  <div class="grid gap-6 py-4 bg-white rounded-[400px]">
    {%- for product_option in product.options_with_values -%}
      <fieldset class="mb-4">
        <legend class="text-sm font-medium text-white mb-2">{{ product_option.name }}</legend>

        <div class="flex flex-wrap gap-2 fest">
          {%- for value in product_option.values -%}
            <label class="cursor-pointer">
              <input
                class="hidden peer"
                name="option{{ product_option.position }}"
                value="{{ value }}"
                type="radio"
                {% if product_option.selected or forloop.index0 == 0 %}checked{% endif %}
              />
              <span class="block px-4 py-2 rounded-[400px] text-sm  bg-black transition-all peer-checked:bg-white peer-checked:text-black hover:bg-white/60">
                {{ value }}
              </span>
            </label>
          {%- endfor -%}
        </div>
      </fieldset>
    {%- endfor -%}
  </div>
{%- endif -%}

<style>
  .fest{
    background:black;object-fit:contain;
    padding:5px;border-radius:400px;
  }
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  label span {
    transition: all 0.2s ease;
  }

  label:hover span {
    border-color: black;
  }
</style>
