<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/framer-motion/dist/framer-motion.umd.min.js"></script>
  <script src="https://unpkg.com/lenis@1.1.20/dist/lenis.min.js"></script> 


  <link rel="canonical" href="{{ canonical_url }}">
  {%- unless settings.font_heading.system? and settings.font_body.system? -%}
    <link rel="preconnect" href="//fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  <title>
    {%- liquid
      echo page_title
      unless page_title == shop.name
        echo ' | ' | append: shop.name
      endunless
    -%}
  </title>
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif %}
  {%- render 'meta-tags' -%}

  {%- liquid
    echo content_for_header
    render 'tailwind'
  -%}
</head>
<body>
  <style>
 body{width:99vw; overflow-x:hidden;}
  </style>
  {% sections 'header-groups' %}

  <main>
    {{ content_for_layout }}
  </main>

  {% liquid
    sections 'footer-groups'

    if additional_checkout_buttons
      echo content_for_additional_checkout_buttons
    endif
  %}
  <script>
  const lenis = new Lenis({
  autoRaf: true,
});

// Listen for the scroll event and log the event data
lenis.on('scroll', (e) => {
  console.log(e);
});
  </script
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>
