<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


  <link rel="canonical" href="{{ canonical_url }}">
  {%- unless settings.font_heading.system? and settings.font_body.system? -%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">

  {%- endunless -%}

  <title>
    {%- liquid
      echo page_title
      unless page_title == shop.name
        echo ' | ' | append: shop.name
      endunless
    -%}
  </title>
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif %}
  {%- render 'meta-tags' -%}

  {%- liquid
    echo content_for_header
    render 'tailwind'
  -%}
</head>
<body>
  <style>
 body{width:99vw; overflow-x:hidden;
       font-family: "Almarai", sans-serif;
     background-color:#f9fafb!important}
    html[lang="ar"] body {
    direction: rtl;
}
    .h1{font-family:inherit!important}
    .shopify-section.shopify-section-group-header-groups.section-announcement.text-center.text-sm p{
      text-align:center!important;
    }
  </style>
  {% sections 'header-groups' %}

  <main>
    {{ content_for_layout }}
  </main>

  {% liquid
    sections 'footer-groups'

    if additional_checkout_buttons
      echo content_for_additional_checkout_buttons
    endif
  %}
  
  <script>
  const lenis = new Lenis({
  autoRaf: true,
});

// Listen for the scroll event and log the event data
lenis.on('scroll', (e) => {
  console.log(e);
});
  </script
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="77c09630-247d-4d99-9a58-0e93d1aa20ef";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body>
</html>
