<div class="section flex flex-col md:flex-row gap-y-4 gap-x-12 items-start bg-[#f9f6fe] rounded-xl">
  <div class="grid gap-4 mx-auto md:mx-0">
    <div class="max-w-[160px]">
      {%- if section.settings.logo -%}
        {{ section.settings.logo
          | image_url: width: 300
          | image_tag: class: 'max-h-[160px] object-contain', loading: 'lazy'
          | link_to: routes.root_url
        }}
      {%- else -%}
        {{ shop.name | link_to: routes.root_url, class: 'font-heading' }}
      {%- endif -%}
    </div>

    <nav class="flex flex-wrap items-center justify-center gap-x-4 [&_svg]:h-[1.5em]">
      {%- for social in shop.brand.metafields.social_links -%}
        <a href="{{ social.last }}" aria-label="{{ social.first }}">
          {%- render 'icon' with social.first -%}
        </a>
      {%- endfor -%}
    </nav>
  </div>

  {% render 'footer-menu' %}
  {% render 'newsletter-form', id: section.id, class: 'w-full sm:grid sm:grid-cols-[1fr,auto] sm:gap-2 sm:items-end' %}
</div>

<style type="text/tailwindcss">
  #shopify-section-{{ section.id }} {
    --canvas: {{ section.settings.color_scheme.settings.canvas }};
    --ink: {{ section.settings.color_scheme.settings.ink }};
    --stroke: {{ section.settings.color_scheme.settings.stroke }};
    @apply bg-[var(--canvas)] text-[var(--ink)];
  }
</style>
