{%- assign testimonials = section.blocks | where: 'type', 'testimonial' -%}

<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">

<div class="section">
  {%- if section.settings.content -%}
    <header class="mb-8 text-center rte">
      {{ section.settings.content }}
    </header>
  {%- endif -%}

  {%- if testimonials.size > 0 -%}
    <div class="swiper text-center">
      <div class="swiper-wrapper !items-center">
        {%- for testimonial in testimonials -%}
          <article
            class="swiper-slide p-4 {% if testimonials.size > 1 %}max-w-lg{% endif %}"
            style="border-radius: var(--border-radius);"
          >
            <span class="absolute top-2 left-4 fill-ink opacity-10 text-4xl">{% render 'icon' with 'quote' %}</span>

            <blockquote class="relative" style="text-wrap: balance;">
              {%- if testimonial.settings.show_rating -%}
                <div>
                  {%- for star in (1..5) -%}
                    <span class="text-amber-400 {% if forloop.index > testimonial.settings.rating %}text-opacity-30{% endif %}">★</span>
                  {%- endfor -%}
                </div>
              {%- endif -%}

              <div class="my-4 text-lg rte">{{ testimonial.settings.quote }}</div>

              {%- if testimonial.settings.author -%}
                <footer class="
                  grid items-center max-w-max mx-auto text-sm
                  {% if testimonial.settings.author_image %}grid-cols-[auto,1fr] gap-4{% endif %}
                ">
                  {%- if testimonial.settings.author_image -%}
                    <figure>
                      {{ testimonial.settings.author_image
                        | image_url: width: 100, height: 100
                        | image_tag: class: 'w-auto max-h-[40px] bg-white rounded-full', loading: 'lazy'
                      }}
                    </figure>
                  {%- endif -%}

                  <cite class="grid not-italic">
                    <strong>{{ testimonial.settings.author }}</strong>
                    {{ testimonial.settings.author_title }}
                  </cite>
                </footer>
              {%- endif -%}
            </blockquote>
          </article>
        {%- endfor -%}
      </div>
    </div>
  {%- else -%}
    <p class="text-center text-gray-500">No testimonials available.</p>
  {%- endif -%}
</div>

<style type="text/tailwindcss">
  #shopify-section-{{ section.id }} .swiper-slide {
    --canvas: {{ section.settings.color_scheme.settings.canvas }};
    --ink: {{ section.settings.color_scheme.settings.ink }};
    @apply bg-[var(--canvas)] text-[var(--ink)];
  }
</style>

<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.mjs';

  document.addEventListener("DOMContentLoaded", function() {
    if (document.querySelector('.swiper .swiper-wrapper').children.length > 0) {
      new Swiper('.swiper', {
        slidesPerView: 'auto',
        spaceBetween: 16,
        centeredSlides: true,
        autoHeight: true,
        loop: {{ section.settings.carousel_loop_enabled }}
      });
    }
  });
</script>